@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto;
}

body {
    margin: 0;
}

.home-page {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 4fr;
}

.home-page div {
    padding: 1rem;
}


/* SIDEBAR CONTAINER */


.sidebar {
    background-color: #1492db;
    color: white;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.sidebar svg {
    fill: white;
    width: 50px;
    height: 80px;
}

.sidebar svg:not(:first-child) {
    height: 30px;
}

.sidebar svg:nth-of-type(2),
.sidebar h2:nth-of-type(1),
.sidebar svg:nth-of-type(8),
.sidebar h2:nth-of-type(7) {
    margin-top: 3rem;
    align-self: flex-start;
}


/* HEADER CONTAINER */


.header {
    background-color: white;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 100px;
}

.header svg {
    height: 30px;
}

.header input {
    width: 90%;
    font-size: 1rem;
    border-radius: 15px;
    background-color: #e1e4ed;
    border: 0;
    padding: 8px;
}

.search-container {
    display: grid;
    grid-template-columns: 50px 100%;
    align-items: flex-start;
}

.profile-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 75px 75px 200px;
}

.profile-container h2 {
    margin: 0;
}

.display-container {
    display: grid;
    grid-template-columns: 70px 500px;
}

.display-container svg {
    height: 60px;
    justify-self: center;
}

.display-container h4,
.display-container h1 {
    margin: 0;
}

.button-container {
    display: grid;
    grid-template-columns: 140px 140px 140px;
    align-items: flex-end;
}

.button-container button {
    color: white;
    background-color: #1492db;
    border-radius: 50px;
    border: 0;
    padding: 12px;
    width: 110px;
    font-size: 1rem;
}


/* MAIN CONTAINER */


.main {
    background-color: #e1e4ed;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main > h2 {
    margin: 0;
    margin-left: 1.1rem;
}


/* PROJECT CONTAINER */


.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 25px;
}

.project {
    background-color: white;
    border-radius: 15px;
    height: 250px;
    border-left: 10px solid #f2b200;
    display: grid;
    grid-template-rows: 35px 1fr 1fr;
}

.icons {
    display: grid;
    grid-template-columns: 65px 65px 30px;
    justify-content: flex-end;
    align-items: flex-end;
}

.project p,
.announcement-container p,
.user-info p {
    color: grey;
    max-inline-size: 35ch;
}

.project svg {
    height: 30px;
}


/* SOCIAL CONTAINER */


.social-container {
    display: grid;
    grid-template-rows: 450px 60px 1fr;
    
}

.announcement-container,
.trending-container {
    display: grid;
    background-color: white;
    border-radius: 15px;
    width: 350px;
}


/* ANNOUNCEMENT CONTAINER */


.announcement {
    display: grid;
    grid-template-rows: 10px 100px 10px;
}

.announcement h3 {
    margin: 0;
}

hr {
    width: 100%;
    height: 0%;
    align-self: flex-end;
}


/* TRENDING CONTAINER */


.trending-container {
    display: grid;
    grid-template-rows: repeat(4, 85px);
}


.user svg {
    height: 60px;
    padding-top: 0.5rem;
}

.user {
    display: grid;
    grid-template-columns: 60px 200px;
}

.user-info h4,
.user-info p {
    margin: 0;
}
