body {
    margin: 0;
}

.home-page {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.sidebar {
    background-color: aqua;
    grid-row: 1 / 3;
}

.header {
    background-color: white;
}

.main {
    background-color: grey;
    grid-column: 2 / 3;
}