@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto;
}

body {
    margin: 0;
}

.home-page {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.home-page div {
    padding: 15px;
}

.sidebar {
    background-color: #1492db;
    color: white;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.sidebar svg {
    fill: white;
    width: 50px;
    height: 80px;
}

.sidebar svg:not(:first-child) {
    height: 30px;
}

.sidebar svg:nth-of-type(2),
.sidebar h2:nth-of-type(1),
.sidebar svg:nth-of-type(8),
.sidebar h2:nth-of-type(7) {
    margin-top: 3rem;
    align-self: flex-start;
}

.header {
    background-color: white;
}

.main {
    background-color: lightgrey;
    grid-column: 2 / 3;
}